<nav class="nav">
  <h2 class="nav__title">Empresa</h2>
  <ul class="nav__links">
    <li class="nav__links--link">
      <a routerLink="/" class="nav__links--link_item"><i class="fas fa-home"></i> Inicio</a>
    </li>
    <li class="nav__links--link">
      <a routerLink="nuevo" class="nav__links--link_item"><i class="fas fa-user-plus"></i> Agregar</a>
    </li>
    <li class="nav__links--link">
      <a routerLink="todos" class="nav__links--link_item"><i class="fas fa-user-friends"></i> Mostrar todos</a>
    </li>
  </ul>
</nav>