<section class="inicio">
  <div class="inicio__contenido">
    <h2>Bienvenido al sistema de registro de empleados</h2>
    <div class="inicio__contenido--acerca">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor exercitationem necessitatibus corporis modi tempore
      accusantium corrupti quaerat sed odit deserunt repudiandae et dolore totam, numquam ullam sunt error ipsam minima
      maxime reiciendis qui laborum. Consequatur at corrupti vitae magni cupiditate illum consectetur sint laborum.
      Atque, iure impedit id voluptates iste tempora incidunt? Libero, id.
      </p>
    </div>
    <div class="inicio__contenido--footer">
      <p>&copy; 2021 MMF</p>
    </div>
  </div>
</section>